# pykrakenapi
pandas
numpy
matplotlib
mpl-finance
ipykernel
scipy
scikit-learn
# pytorch
# backtesting
openbb

# for tulipy indicators
tulipy

#for pandas-ta indicators
TA-Lib # also requires C library install. See https://pypi.org/project/ta-lib/
pandas_ta
